<% provide(:title, 'About Us') %>

<div class = "container">
	<h1>About Us</h1>
	<p>
  		Our team comprises of current and graduated students from top schools with the common goal of revolutionizing the personalization mechanism in the field of Sports. We are a dynamic team of handful of crazy people trying to improve the social experience of millions and millions of Sports fans.
	</p>
</div>