<div class="center hero-unit" style="background-image: url(<%= asset_path 'Wavelio-splashpage02-bg.jpg' %>">
  <br/>
  <br/>
  <br/>
  <h2>
    COME, PLAY and FEEL THE EXPERIENCE..!
  </h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>  
  <br/>
  <br/>
  <br/>
  <br/>                      
</div>
