<% provide(:title, 'Home') %>

<div class="center">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>  
  <h2>
    Unitize . Analyze . Personalize  
  </h2>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
