<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

  </aside>
  <div class = "center">
  	<p>
  		Sign in Name : <%= @user.name%><br>
  		Sign in user id : <%= @user.email%>		
  	<p>
  </div>
</div>